{% extends 'base.html' %}

{% load static %}

{% block content %}
<br />
<br />
  	<div class="container-fluid body-container">
		<form method="post" action="invest">{% csrf_token %}
		<div class="row" style="padding-top:2%;">
			<div class="col-md-1"></div>
			<div class="col-md-3">
				<div class="card" style="width: 20rem; height: 100%;">
					  <!--<img class="card-img-top" src="" alt="Card image cap">-->
					<div class="card-body">
						<h5 class="card-title"><b>Ethical Investment</b></h5>
						<p class="card-text">{{ ethical }}</p>
						<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#ethical_invest">Add</button>
						<input type="text" name="ethical_invest" class="collapse" id="ethical_invest" value="0"/>
						
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="card" style="width: 20rem; height: 100%">
					  <!--<img class="card-img-top" src="" alt="Card image cap">-->
					<div class="card-body">
						<h5 class="card-title"><b>Growth Investment</b></h5>
						<p class="card-text">{{ growth }}</p>
						<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#growth_invest">Add</button>
						<input type="text" name="growth_invest" class="collapse" id="growth_invest" value="0"/>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="card" style="width: 20rem; height: 100%;">
					  <!--<img class="card-img-top" src="..." alt="Card image cap">-->
					<div class="card-body">
						<h5 class="card-title"><b>Index Investment</b></h5>
						<p class="card-text">{{ index }}</p>
						<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#index_invest">Add</button>
						<input type="text" name="index_invest" class="collapse" id="index_invest" value="0"/>
					</div>
				</div>
			</div>
			<div class="col-md-1"></div>
		</div>
		<div class="row" style="margin-top: 2%">
			<div class="col-md-1"></div>
			<div class="col-md-3">
				<div class="card" style="width: 20rem; height: 100%;">
					  <!--<img class="card-img-top" src="..." alt="Card image cap">-->
					<div class="card-body">
						<h5 class="card-title"><b>Quality Investment</b></h5>
						<p class="card-text">{{ quality }}</p>
						<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#quality_invest">Add</button>
						<input type="text" name="quality_invest" class="collapse" id="quality_invest" value="0"/>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="card" style="width: 20rem; height: 100%;">
					  <!--<img class="card-img-top" src="..." alt="Card image cap">-->
					<div class="card-body">
						<h5 class="card-title"><b>Value Investment</b></h5>
						<p class="card-text">{{ value }}</p>
						<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#value_invest">Add</button>
						<input type="text" name="value_invest" class="collapse" id="value_invest" value="0"/>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="card" style="width: 20rem; height: 100%;">
					  <!--<img class="card-img-top" src="..." alt="Card image cap">-->
					  <div class="card-body">
					    <p class="card-text">
						<input type="submit" class="btn btn-primary" value="Invest" name="invest_btn" />
					    </p>
					  </div>
				</div>
			</div>
			<div class="col-md-1"></div>
		</div>
		</form>
	</div>

{% endblock %}