{% extends 'base.html' %}

{% load static %}

{% block content %}
<br /> 
<br />
<div class="container-fluid">
	<div class="row" style="margin-top: 2%">
		<div class ="col-md-8 col-md-offset-2" style="margin: 0 auto">
		<table class="table table-striped" style="background-color: white">
			<tr>
				<th scope="column">Strategy</th>
				<th scope="column">Stocks</th>
				<th scope="column">Num of Stocks</th>
			</tr>
			{% for val in strategies %}
				<tr>
				<td>{{ val }}</td>
				<td>{{ stocks.forloop.counter }}</td>
				<td>{{ stock_count.0 }}</td>
				</tr>
			{% endfor %}
		</table>
		</div>		
	</div>
	<div class="row" style="margin-top: 2%">
		<div id="pie" class="col-md-8 col-md-offset-2" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
	</div>
	<div class="row" style="margin-top: 2%">
		<div id="histo" class="col-md-8 col-md-offset-2" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
	</div>
	<span id="chart_data" style="visibility: hidden;">{{ data }}</span>	
</div>


<script type="text/javascript">
  $(function() {
    renderPieChart(stocks, pie_title);
    renderHistogram(values, bar_title, strategies)
  });
  
  var dt = document.getElementById("chart_data").innerHTML;
  var message = JSON.parse(dt);
  
  var stocks = message.pie_data; 
  var pie_title = message.pie_title;
  
  var strategies = message.strategies;
  var bar_title = message.histo_title;
  var values = message.histo_data;
  
   
	function renderPieChart(stocks, pie_title){
	       Highcharts.chart('pie', {
		    chart: {
			plotBackgroundColor: null,
			plotBorderWidth: null,
			plotShadow: false,
			type: 'pie'
		    },
		    title: {
			text: pie_title
		    },
		    tooltip: {
			pointFormat: '{series.name}: <b>${point.y:.2f}</b>'
		    },
		    plotOptions: {
			pie: {
			    allowPointSelect: true,
			    cursor: 'pointer',
			    dataLabels: {
				enabled: false
			    },
			    showInLegend: true
			}
		    },
		    series: [{
			name: 'Stock',
			colorByPoint: true,
			data: stocks
		    }]
		});
	    }
	    
	function renderHistogram(values, bar_title, strategies) {
		Highcharts.chart('histo', {
		    chart: {
			type: 'column'
		    },
		    title: {
			text: bar_title
		    },
		    xAxis: {
			categories: strategies,
			crosshair: true
		    },
		    yAxis: {
			min: 0,
			title: {
			    text: 'price($)'
			}
		    },
		    tooltip: {
			headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
			pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
			    '<td style="padding:0"><b>${point.y:.2f}</b></td></tr>',
			footerFormat: '</table>',
			shared: true,
			useHTML: true
		    },
		    plotOptions: {
			column: {
			    pointPadding: 0.2,
			    borderWidth: 0
			}
		    },
		    series: values
		});
	}
</script>

{% endblock %}
