{% extends 'base.html' %}

{% load static %}

{% block content %}
<br /> 
<br />
<div class="container-fluid">
	<div class="row" style="margin-top: 2%">
		<div class ="col-md-8 col-md-offset-2" style="margin: 0 auto">
		<table class="table table-striped" style="background-color: white">
			<tr>
				<th scope="column">Strategy</th>
				<th scope="column">Stocks</th>
				<th scope="column">Num of Stocks</th>
			</tr>
			{% for key,val in stocks.items %}
				<tr>
				<td>
					{{ val.3 }}
				</td>
				<td>
					{{ val.0.name }} ( {{ val.0.symbol }} )<br>
					{{ val.1.name }} ( {{ val.1.symbol }} )<br>
					{{ val.2.name }} ( {{ val.2.symbol }} )
				</td>
				<td>
					{{ val.0.allotment }}<br>
					{{ val.1.allotment }}<br>
					{{ val.2.allotment }}
				</td>
				</tr>
			{% endfor %}
			<tr>
			</tr>
				
		</table>
		</div>		
	</div>
	<div class="row" style="margin-top: 2%">
		<div id="pie" class="col-md-8 col-md-offset-2" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
	</div>
	<div class="row" style="margin-top: 2%">
		<div id="histo" class="col-md-8 col-md-offset-2" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
	</div>
	<span id="chart_data" style="visibility: hidden;">{{ js }}</span>
	{% if status == 0 %}
	<span id="updated" style="visibility: hidden;"></span>
	{% endif %}
	{% if status == 1 %}
	<span id="created" style="visibility: hidden;"></span>
	{% endif %}
</div>


<script type="text/javascript">
  $(function() {
    renderPieChart(stocks, pie_title);
    renderHistogram(values, bar_title, strategies)
    
    if (document.getElementById("updated")) {
	window.alert("Stock Portfolio Updated")
    }
    if(document.getElementById("created")) {
	window.alert("Stock Portfolio Updated")
    }
  
  });
  
  var dt = document.getElementById("chart_data").innerHTML;
  var js = JSON.parse(dt);
  
  var stocks = js.pie_data; 
  var pie_title = js.pie_title;
  
  var strategies = js.strategies;
  var bar_title = js.histo_title;
  var values = js.histo_data;
  
   
	function renderPieChart(stocks, pie_title){
	       Highcharts.chart('pie', {
		    chart: {
			plotBackgroundColor: null,
			plotBorderWidth: null,
			plotShadow: false,
			type: 'pie'
		    },
		    title: {
			text: pie_title
		    },
		    tooltip: {
			pointFormat: '{series.name}: <b>${point.y:.2f}</b>'
		    },
		    plotOptions: {
			pie: {
			    allowPointSelect: true,
			    cursor: 'pointer',
			    dataLabels: {
				enabled: true
			    },
			    showInLegend: false
			}
		    },
		    series: [{
			name: 'Stock',
			colorByPoint: true,
			data: stocks
		    }]
		});
	    }
	    
	function renderHistogram(values, bar_title, strategies) {
		Highcharts.chart('histo', {
		    chart: {
			type: 'bar'
		    },
		    title: {
			text: bar_title
		    },
		    xAxis: {
			categories: strategies,
			crosshair: false,
		    },
		    yAxis: {
			min: 0,
			title: {
			    text: 'price($)'
			}
		    },
		    tooltip: {
			headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
			pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
			    '<td style="padding:0"><b>${point.y:.2f}</b></td></tr>',
			footerFormat: '</table>',
			shared: true,
			useHTML: true
		    },
		    plotOptions: {
			column: {
			    pointPadding: 0.2,
			    borderWidth: 0
			}
		    },
		    series: values

		});
	}
</script>

{% endblock %}
