{% extends 'base.html' %}

{% load static %}

{% block content %}
  <br /> <br /> <br /> <br />
  <div class="h1" align="center" style="background-color: black; color: white;" >SmartInvest: Portfolio Weekly Trend</div>	
<div class="container">
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <label class="input-group-text" for="trendsSelect">Trends</label>
    </div>
    <select class="custom-select" id="trendsSelect">
      <option >Choose...</option>
      {% for option in strategies %}
      	<option value="{{ forloop.counter0 }}">{{option}}</option>
      {% endfor %}
    </select>
  </div>
  <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
  </div>

{% endblock %}