{% extends 'bootstrap.html' %}

{% load static %}

{# Load the tag library #}
{% load bootstrap4 %}
{% block headertitle %} SmartInvest {% endblock %}
{% block bootstrap4_content %}
  {% block navbar %}
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="{% url 'home' %}" style="color:#00f500">SmartInvest</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainMenu" aria-controls="mainMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="mainMenu">
          {% if user.is_authenticated %}
            <ul class="navbar-nav ml-auto">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="userMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{ user.username }}
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userMenu">
                  <a class="dropdown-item" href="/">Home <span class="sr-only">(current)</span></a>
                  <a class="dropdown-item" href="/invest">Invest</a>
                  <a class="dropdown-item" href="/portfolio">Portfolio</a>
		  <a class="dropdown-item" href="/trends">Trends</a>
                  <a class="dropdown-item" href="/about">About</a>
                  <a class="dropdown-item" href="/services">Services</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="{% url 'logout' %}">Log out</a>
                </div>
              </li>
            </ul>
          {% else %}
            <form class="form-inline my-2 my-lg-0 ml-auto">
              <a href="{% url 'login' %}" class="btn my-12 my-sm-0 btn-outline-secondary" style="margin-right: 5px;">Log in</a>
              <a href="{% url 'signup' %}" class="btn my-2 my-sm-0 btn-primary">Sign up</a>
            </form>
          {% endif %}
      </div>
  </nav> 
  {% endblock %}
  <div class="body-container">
    {% autoescape off %}{% bootstrap_messages %}{% endautoescape %}
    {% block content %}(no content){% endblock %}
  </div>
{% endblock %}
