{% extends 'base.html' %}

{% load static %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'css/accounts.css' %}">
{% endblock %}

{% block content %}
<br /> <br /> <br /> <br />
<div class="container">
	<div class="card-deck mb-3 text-center">
	{% for item in cards %}
		<div data-href="{{item.src}}" class="card mb-4 box-shadow card-href" style="min-width: 30rem;max-width: 50rem;margin:5px;min-height: 18rem;max-height: 30rem;">
			{% if item.header %}
				<div class="card-header">
				<h4 class="my-0 font-weight-normal">{{ item.header }}</h4>
				</div>
			{% endif %}
			{% if item.img %}
			  <img class="card-img-top" style="height: 20vw;" src="{% static item.img %}" alt="Card image cap">
			{% endif %}
			<div class="card-body">
				{% if item.bodyHeader %}
					<h1 class="mt-3 mb-4">
						{{ item.bodyHeader }}
					</h1>
				{% endif %}
				{% if item.body %}
					<p class="mt-3 mb-4">
						{{ item.body }}
					</p>
				{% endif %}
			</div>
		</div>
	{% endfor %}
	</div>
</div>
<script type="text/javascript">
	$('.card-href').unbind( "click" ).click((e)=>{
		location = e.currentTarget.dataset.href;
	});
</script>
{% endblock %}
