{% load static %}
<img src="{% static "stockapp/SmartInvest.jpg" %}" alt="OtherImage"/>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>SmartInvest</title>
  </head>
  <body>
    <h1>SmartInvest</h1>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  </body>
</html>

base.html
<!--{% load static %}
<img src="{% static "stockapp/SmartInvest.jpg" %}" alt="My image"/><!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!--<title>{% block title %}SmartInvest{% endblock %}</title>-->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  </head>
  <body>
   <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}">SmartInvest</a>
      </div>
    </nav>
  </body>
</html>
-->