{% extends 'base.html' %}

{% load static %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'css/accounts.css' %}">
{% endblock %}

{% block content %}
<br /> <br /> <br /> <br />    

    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center text-white">
      <h1 class="display-4">Open an Account</h1>
      <p class="lead">It's easy—opening your new account takes just minutes.</p>
    </div>

    <div class="container">
      <div class="card-deck mb-3 text-center">
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Saving for retirement</h4>
          </div>
          <div class="card-body">
<!--             <h1 class="card-title pricing-card-title">$0 <small class="text-muted">/ mo</small></h1>
 -->            <ul class="list-unstyled mt-3 mb-4">
              <li>Rollover IRA</li>
              <li>Traditional IRA</li>
              <li>Roth IRA</li>
            </ul>
            <a href="/" type="tutton" class="btn btn-lg btn-block btn-outline-primary">Check it out</a>
          </div>
        </div>
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Investing and trading</h4>
          </div>
          <div class="card-body">
            <!-- <h1 class="card-title pricing-card-title">$15 <small class="text-muted">/ mo</small></h1> -->
            <ul class="list-unstyled mt-3 mb-4">
              <li>Brokerage Account</li>
              <li>Brokerage and Cash Management</li>
            </ul>
            <a href="/" type="tutton" class="btn btn-lg btn-block btn-primary">Get started</a>
          </div>
        </div>
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Saving for education</h4>
          </div>
          <div class="card-body">
            <!-- <h1 class="card-title pricing-card-title">$29 <small class="text-muted">/ mo</small></h1> -->
            <ul class="list-unstyled mt-3 mb-4">
              <li>529 Account</li>
              <br />

            </ul>
            <a href="/" type="tutton" class="btn btn-lg btn-block btn-primary">Contact us</a>
          </div>
        </div>
      </div>
    </div>

{% endblock %}
