{% extends 'base.html' %}

{% load static %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'css/accounts.css' %}">
{% endblock %}

{% block content %}
<br /> <br /> <br /> <br />    

    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center text-white">
      <h1 class="display-4">Open an Account</h1>
      <p class="lead">It's easy—opening your new account takes just minutes.</p>
    </div>

    <div class="container">
      <div class="card-deck mb-3 text-center">
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Saving for Retirement</h4>
          </div>
          <div class="card-body">
            <p>
              Take control of retirement savings whether you have changed jobs or retired, we can help you invest your savings.
            </p>
            <a href="/" type="tutton" class="btn btn-lg btn-block btn-outline-primary">Check it out</a>
          </div>
        </div>
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Managed Portfolio</h4>
          </div>
          <div class="card-body">
           <p>Work with a financial consultant to choose a diversified portfolio tailored to your investing needs and risk tolerance</p>
            <a href="/" type="tutton" class="btn btn-lg btn-block btn-primary">Get started</a>
          </div>
        </div>
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">529 College Savings Plan</h4>
          </div>
          <div class="card-body">
            <p>
              529 plans provide flexible tax free accounts designed to save money for your child’s education 
            </p>
            <a href="/" type="tutton" class="btn btn-lg btn-block btn-primary">Contact us</a>
          </div>
        </div>
      </div>
    </div>

{% endblock %}
