{% extends 'base.html' %}

{% load static %}

{% block stylesheet %}
{% endblock %}

{% block content %}
  <link rel="stylesheet" href="{% static 'css/cards.css' %}">
<!------ Include the above in your HEAD tag ---------->

<!-- Team -->
<section id="" class="pb-5">
    <div class="container">
        <h5 class="section-title h1">OUR TEAM</h5>
        <div class="row">
{% for item in cards %}
    <div class="col-xs-12 col-sm-6 col-lg-3">
        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
            <div class="mainflip">
                <div class="frontside">
                    <div class="card">
                        <div class="card-body text-center">
                            <p><img class="img-fluid" src="{% static item.img %}" alt="card image"></p>
                            <h4 class="card-title">{{ item.title }}</h4>
                            <p class="card-text">{{ item.text }}</p>
                        </div>
                    </div>
                </div>
                <div class="backside">
                    <div class="card">
                        <div class="card-body text-center mt-4">
                            <h4 class="card-title">{{ item.title }}</h4>
                            <p class="card-text">{{ item.backText }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
        </div>
    </div>
</section>
<!-- Team -->
{% endblock %}
