<!DOCTYPE>
<html>
<header>
	{% load static %}
	<link href="{% static '/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" id="bootstrap-css">
	<script src="{% static '/bootstrap/js/bootstrap.min.js' %}"></script>
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
	<style> .h1 { margin-bottom: 0%; padding-bottom: 2%; padding-top: 2%; margin-left: auto; margin-right: auto; } </style>
	<title>SmartInvest - Stock Calculator Results</title>
</header>
<body style="background-color: black">
	<div class="h1" align="center" style="background-color: black; color: white;" >SmartInvest: Stock Calculator Results</div>	
	<div class="container-fluid">
		<div class="row">
		<div class="col-md-1" style="background-color: #00FF00"></div>
		<div class="col-md-10" style="background-color: #00FFFF">
			<div class="col-md-5" align="center" style="margin-top: 1%; margin-left: auto; margin-right: auto; background: rgba(255, 255, 255, 0.8); box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;">
			<div class="container">
				<br style="clear:both">
				<br style="clear:both">
				<table class="table table-hover table-striped js-table">
				<tr><td colspan="2"><div class="h5">Proceeds: </div></td></tr>
				<tr><td colspan="2"><div class="h6">${{ message.proceeds }}</div></td></tr>
				<tr><td colspan="2"><div class="h5">Cost: </div></td></tr>
				<tr><td colspan="2"><div class="h6">{{ message.allotment }}</div></td></tr>
				<tr><td colspan="2"><div class="h5">Cost Details:</div></td></tr>
				<tr>
					<td>
						<div class="h5">
							Total Purchase Price: <br>
							({{ message.allotment }} x ${{ message.initial_share_price }})<br>
							Buy Commission: <br>
							Sell Commission: <br>
							Tax on Capital Gain: <br>
							({{ message.capital_gain_tax_rate }}% of ${{ message.capital_gain }})
						</div>
					</td>
					<td>
						<div class="h6">
							${{ message.total_purchase_price }}<br>
							${{ message.buy_commission }}<br>
							${{ message.sell_commission }}<br>
							${{ message.capital_gain_tax }}<br>
						</div>
					</td>
				</tr>
				<tr><td colspan="2"><div class="h5">Net Profit: </div></td></tr>
				<tr><td colspan="2"><div class="h6">${{ message.net_profit }}</div></td></tr>
				<tr><td colspan="2"><div class="h5">Break Even Price: </div></td></tr>
				<tr><td colspan="2"><div class="h6">${{ message.break_even_price }}</div></td></tr>
				</table>
				<br style="clear:both">
				<form method="get" action="{% url 'stock_calculator' %}">
				<input class="btn btn-primary btn-lg" type="submit" value="Return"/>
				</form>
				<br style="clear:both">
				<br style="clear:both">
			</div>
			</div>
		</div>
		<div class="col-md-1" style="background-color: #00FF00"></div>
		</div>
	</div>
	<div class="container-fluid" style="height:5%"><div class="row"><div class="col-md-12"></div></div></div>
</body>
</html>